.swipe {
	overflow: hidden;
	position: relative;
	max-width: 1300px;
	height: 350px;
	margin: 0 auto 0 auto;
	border: solid black 1px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}
.swipe-wrap {
	overflow: hidden;
	position: relative;
}
.swipe-wrap > div {
	float: left;
	width: 100%;
	position: relative;
}
.swipe .nav {
	position: absolute;
	width: 200px;
	height: 25vw;
	z-index: 10;
	text-align: center;
	line-height: 40px;
	display: inline-block;
	color: #fff;
	top: 0%;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0)
}
.swipe .nav.next {
	right: 0;
	-webkit-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
	transition: background-color 0.75s ease;
}
.swipe .nav.prev {
	-webkit-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
	transition: background-color 0.75s ease;
}

.swipe .nav.next:hover,
.swipe .nav.prev:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.slide-wrap div img{
	object-fit: none;
  	object-position: 10% 10%; /* positioned top left of the content box */
}

@media only screen and (max-width: 959px) {
.demo-wrapper,#slider,.swipe,.swipe-swap, .swipe-swap div img{
		height: 200px;
		width: 90vw;
	}
.swipe-swap div img{
object-fit: none;
object-position: 0 0; 
}

.demo-wrapper{
	margin-bottom: 20px;
}
.swipe .nav.next {
		right: 0;
		-webkit-border-radius: 3px 0 0 3px;
		border-radius: 3px 0 0 3px;
		transition: background-color 0.75s ease;
	}
.swipe .nav.prev {
		-webkit-border-radius: 0 3px 3px 0;
		border-radius: 0 3px 3px 0;
		transition: background-color 0.75s ease;
	}
}