@import url('https://fonts.googleapis.com/css?family=Orbitron');


table{
    margin: auto;
    text-align: center;
    border: solid 1px black;
    font-family: 'Orbitron', sans-serif;
}



tr th,  tr td{
    padding: 15px;
    border-right: solid 1px black;
}

th,td{
    border-bottom: solid 1px black;
}

td:first-child{
    width: 45px;
    padding: 15px;
}

td{
    padding: 15px;
    
}
table tr:nth-child(odd){
background-color: rgb(173, 150, 140);
}

table tr:nth-child(even){
background-color: rgb(206, 190, 183);
}

table tr:first-child{
    background-color: rgb(163, 152, 152);
}


.clas tr:nth-child(2){
    background-color: rgb(223, 160, 0);
    font-size: 22px;  
}
.clas tr:nth-child(3){
    background-color: silver;
    font-size: 20px;
}
.clas tr:nth-child(4){
    background-color: rgb(205, 127, 50);
    font-size: 18px;
}

@media only screen and (max-width: 959px) {
    table{
        width: 100%;
        font-size: 3vw;
    }
    .clas tr:nth-child(2){
        background-color: rgb(223, 160, 0);
        font-size: 4vw;  
    }
    .clas tr:nth-child(3){
        background-color: silver;
        font-size: 3.5vw;
    }
    .clas tr:nth-child(4){
        background-color: rgb(205, 127, 50);
        font-size: 3vw;
    }


    .schedule{
        font-size: 2.5vw;
    }

    .schedule tr th,
    .schedule tr td {
        padding:5px;
    }
}